.main {
    background-color: #3c6382;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather', serif;
}

.container {
    background-color: white;
    width: 100%;
    max-width: 22em;
    border: 7px solid #38ada9;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: auto;
    padding: 48px;
    padding-bottom: 0;
}

.space {
    margin-bottom: 20px;
}

.insert {
    width: 100%;
    border: 1px solid #95afc0;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

#removeAll {
    margin-bottom: 20px;
    font-weight: bold;
}

#todos {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

li {
    border: 2px solid #95afc0;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-weight: bold;
    color: #2f3542;
    display: flex;
    align-items: center;
    word-break: break-word;
}


li label {
    margin-left: 10px;
    flex: 1;
    overflow-wrap: break-word;
}

li input[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.myCheck {
    text-decoration: line-through;
    color: rgba(0, 0, 0, .3);
}

.visual {
    opacity: 1 !important;
    border-radius: 10px;
}